# Practical Assignment 2
# Use Tuple for the following programs

* 1) Store and display student information (name, age, grade).

In [1]:
def display_student_info(student):
    print(f"Name: {student[0]}, Age: {student[1]}, Grade: {student[2]}")

student = ("Alice", 16, "A")
display_student_info(student)

Name: Alice, Age: 16, Grade: A

* 2) List prices of grocery items and total them.

In [2]:
def total_prices(prices):
    total = sum(prices)
    print(f"Total price: ₹{total}")

prices = (25, 50, 20)
total_prices(prices)

Total price: ₹95

* 3) Pair items with prices using tuples.

In [3]:
def show_items_with_prices(items):
    for item in items:
        print(f"{item[0]}: ₹{item[1]}")

items = (("Milk", 25), ("Eggs", 50), ("Bread", 20))
show_items_with_prices(items)

Milk: ₹25
Eggs: ₹50
Bread: ₹20

* 4) Store and display train schedule as tuples.

In [4]:
def display_train_schedule(schedule):
    for train in schedule:
        print(f"{train[0]} departs at {train[1]}")

schedule = (("Rajdhani", "10:00"), ("Shatabdi", "12:30"), ("Duronto", "17:00"))
display_train_schedule(schedule)

Rajdhani departs at 10:00
Shatabdi departs at 12:30
Duronto departs at 17:00

* 5) Sort employee records by salary.

In [5]:
def sort_by_salary(employees):
    sorted_emp = sorted(employees, key=lambda x: x[1], reverse=True)
    for emp in sorted_emp:
        print(f"{emp[0]} earns ₹{emp[1]}")

employees = (("John", 40000), ("Alice", 55000), ("Raj", 30000))
sort_by_salary(employees)

Alice earns ₹55000
John earns ₹40000
Raj earns ₹30000

* 6) Count how many students scored above 75 marks.

In [6]:
def count_above_75(marks):
    count = sum(1 for mark in marks if mark > 75)
    print(f"Students scoring above 75: {count}")

marks = (67, 88, 92, 74, 76, 55)
count_above_75(marks)

Students scoring above 75: 3

* 7) Create a tuple of stock prices and find the max.

In [7]:
def max_stock_price(prices):
    print(f"Maximum stock price: ₹{max(prices)}")

prices = (154.5, 160.2, 149.8, 170.1)
max_stock_price(prices)

Maximum stock price: ₹170.1

* 8) Log temperature readings during the day. Find the average temperature

In [8]:
def average_temperature(temps):
    avg = sum(temps) / len(temps)
    print(f"Average temperature: {avg:.2f}°C")

temperatures = (29.5, 30.0, 32.2, 31.5, 28.9)
average_temperature(temperatures)

Average temperature: 30.42°C

* 9) Schedule appointments (name, time).

In [9]:
def display_appointments(appointments):
    for app in appointments:
        print(f"{app[0]} at {app[1]}")

appointments = (("Doctor", "10:00 AM"), ("Meeting", "2:00 PM"))
display_appointments(appointments)

Doctor at 10:00 AM
Meeting at 2:00 PM

* 10) Store contact info (name, phone number).

In [10]:
def show_contacts(contacts):
    for contact in contacts:
        print(f"Name: {contact[0]}, Phone: {contact[1]}")

contacts = (("Anil", "9876543210"), ("Priya", "9123456780"))
show_contacts(contacts)

Name: Anil, Phone: 9876543210
Name: Priya, Phone: 9123456780

* 11) Display exam schedule with subject and time.

In [11]:
def display_exam_schedule(schedule):
    for exam in schedule:
        print(f"{exam[0]} exam at {exam[1]}")

exams = (("Math", "9:00 AM"), ("Science", "11:30 AM"), ("English", "2:00 PM"))
display_exam_schedule(exams)

Math exam at 9:00 AM
Science exam at 11:30 AM
English exam at 2:00 PM