# Practical Assignment 3

* Create a set and display its elements

In [1]:

my_set = {10, 20, 30, 40}
print("Set Elements:", my_set)

Set Elements: {40, 10, 20, 30}

* 2. Add an element to a set

In [2]:
my_set.add(50)
print("After Adding 50:", my_set)

After Adding 50: {40, 10, 50, 20, 30}

* 3. Remove an element from a set

In [3]:
my_set.remove(20)  # Raises error if element not found
print("After Removing 20:", my_set)

After Removing 20: {40, 10, 50, 30}

* 4. Clear all elements from a set

In [4]:
temp_set = {1, 2, 3}
temp_set.clear()
print("Cleared Set:", temp_set)

Cleared Set: set()

* 5. Copy a set to another set

In [5]:
copied_set = my_set.copy()
print("Copied Set:", copied_set)

Copied Set: {40, 10, 50, 30}

* 6. Check if an element exists in a set

In [6]:
print("30 in set?", 30 in my_set)

30 in set? True

* 7. Find the length of a set

In [7]:
print("Length of set:", len(my_set))

Length of set: 4

* 8. Iterate through a set using a loop

In [8]:
print("Set Elements:")
for item in my_set:
    print(item)

Set Elements:
40
10
50
30

 # Set Operations

* 9. Find the union of two sets

In [9]:
a = {1, 2, 3}
b = {3, 4, 5}
print("Union:", a | b)

Union: {1, 2, 3, 4, 5}

* 10. Find the intersection of two sets

In [10]:
print("Intersection:", a & b)

Intersection: {3}

* 11. Find the difference between two sets

In [11]:
print("Difference (a - b):", a - b)

Difference (a - b): {1, 2}

* 12. Find the symmetric difference between two sets

In [12]:
print("Symmetric Difference:", a ^ b)

Symmetric Difference: {1, 2, 4, 5}

* 13. Check if one set is a subset of another

In [13]:
subset = {1, 2}
print("Is subset?", subset.issubset(a))

Is subset? True

* 14. Check if one set is a superset of another

In [14]:
print("Is superset?", a.issuperset(subset))

Is superset? True

* 15. Check if two sets are disjoint

In [15]:
disjoint_a = {1, 2}
disjoint_b = {3, 4}
print("Are disjoint?", disjoint_a.isdisjoint(disjoint_b))

Are disjoint? True

# Set Applications

* 16. Remove duplicates from a list using a set

In [16]:
my_list = [1, 2, 2, 3, 4, 4]
unique = set(my_list)
print("Unique values:", unique)

Unique values: {1, 2, 3, 4}

* 17. Convert a list to a set and back to a list

In [17]:
my_list = [5, 6, 6, 7]
temp_set = set(my_list)
back_to_list = list(temp_set)
print("List:", my_list)
print("Set:", temp_set)
print("Back to List:", back_to_list)

List: [5, 6, 6, 7]
Set: {5, 6, 7}
Back to List: [5, 6, 7]

* 18. Find common elements in two lists using sets

In [18]:
list1 = [1, 2, 3]
list2 = [2, 3, 4]
common = set(list1) & set(list2)
print("Common Elements:", common)

Common Elements: {2, 3}

* 19. Get elements in one list but not in another using sets

In [19]:
only_in_list1 = set(list1) - set(list2)
print("Only in list1:", only_in_list1)

Only in list1: {1}

* 20. Use set comprehension to generate a set (e.g., squares or primes)

In [20]:
squares = {x*x for x in range(1, 6)}
print("Squares:", squares)

Squares: {1, 4, 9, 16, 25}

# Frozen Set Programs

* 21. Create and print a frozenset

In [21]:
fset = frozenset([10, 20, 30])
print("FrozenSet:", fset)

FrozenSet: frozenset({10, 20, 30})